<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAH2IIJpZ3zUndYpLWRGPqZy0j1bouQxs</string>
	<key>GCM_SENDER_ID</key>
	<string>589287670120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.updatedBarberProject</string>
	<key>PROJECT_ID</key>
	<string>secondbarberproject</string>
	<key>STORAGE_BUCKET</key>
	<string>secondbarberproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589287670120:ios:0306ffa9edfcf4464d16dd</string>
</dict>
</plist>